TZ=Europe/Tallinn
PGTZ=Europe/Tallinn

POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=5436

DB_HOST=db
DB_PORT=5432
DB_USER=praktikum
DB_PASSWORD=praktikum
DB_NAME=praktikum

PGHOST=db
PGPORT=5432
PGUSER=praktikum
PGPASSWORD=praktikum
PGDATABASE=praktikum

SOURCE_API_PORT=8016
SOURCE_API_PORT_HOST=8016
SOURCE_API_URL=http://source-api:8016
SOURCE_START_DATE=2026-03-01
SOURCE_END_DATE=2026-04-30

DBT_DOCS_PORT_HOST=18086
