# PostgreSQL (andmeladu)
POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum

# OpenMetadata MySQL (sisemine metaandmete hoidla)
OMD_MYSQL_ROOT_PASSWORD=password

# Airflow (ingestion pipeline teenus)
AIRFLOW_USERNAME=andmeinsener
AIRFLOW_PASSWORD=praktikum
